*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.banner{
    position: sticky;
    width: 100%;
    height: 8vh;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 3;
}
.navbar{
    width: 90%;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    padding: -20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.logo{
    width: 200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: sticky;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 75%;
}
.text-box-title{
    color: #fff;
    position: absolute;
    bottom: 8%;
    margin: auto;
    bottom: 240px;
    padding: 10px;
    line-height: 50%;
}
.text-box-title p{
    font-size: 30px;
    font-weight: 600;
    margin-left: 40px;
}
.text-box-title h1{
    font-size: 80px;
    line-height: 160px;
    margin-left: 40px;
}
.text-box-title h3{
    font-size: 20px;
    font-weight: 600;
    margin-left: 40px;
}
.body1 {
    height: 120vh;
    margin-top: -30px;
}
.body2{
    height: 120vh;
    background: rgba(77, 157, 105, 0.4);
    z-index: 1;
    margin-top: 0px;
}
.body6 {
    height: 10vh;
    margin-top: 0px;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: 2;
}
.body1-pic {
    position: absolute;
    bottom: 20px;
    margin-left: 920px;
}
.pic1{
    position: absolute;
    bottom: -650px;
    margin-left: 800px;
}
.pic2{
    position: absolute;
    bottom: -650px;
    margin-left: 140px;
}
.text-box1{
    color: #fff;
    position: relative;
    bottom: 8%;
    margin: auto;
    bottom: -150px;
    left: 750px;
    padding: 10px;
}
.text-box1 p{
    font-size: 30px;
    font-weight: 600;
    margin-left: 120px;
    margin-bottom: 350px;
}
.text-box1 h5{
    font-size: 20px;
    font-weight: normal;
    margin-left: 50px;
    text-align: justify;
    text-justify: inter-word;
}
.text-box1-left{
    color: #fff;
    position: relative;
    bottom: 8%;
    margin: auto;
    bottom: 350px;
    left: 25px;
    padding: 10px;
}
.text-box1-left p{
    font-size: 30px;
    font-weight: 600;
    margin-left: 120px;
    margin-bottom: 350px;
}
.text-box1-left h5{
    font-size: 20px;
    font-weight: normal;
    margin-left: 120px;
    text-align: justify;
    text-justify: inter-word;
}
.text-box1-link{
    color: #fff;
    position: relative;
    text-decoration: none;
    display: flex;
    margin: auto;
    bottom: 350px;
    padding: 10px;
    left: 980px;

}
.text-box1-link a{
    text-decoration: none;
    display: flex;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}
.text-box1-left-link{
    color: #fff;
    position: relative;
    text-decoration: none;
    display: flex;
    margin: auto;
    bottom: 405px;
    padding: 10px;
    left: 320px;
}
.text-box1-left-link a{
    text-decoration: none;
    display: flex;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}
.navbar1{
    width: 90%;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    padding: -20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.navbar1 h4{
    list-style: none;
    display: inline-block;
    position: relative;
    color: white;
    bottom: -50px;
    font-size: 25px;
}
.navbar1 h5{
    list-style: none;
    display: inline-block;
    position: relative;
    color: white;
    bottom: -50px;
    font-size: 15px;
}