*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin-bottom: 0px;
    padding-bottom: 0px
}

.banner{
    position: sticky;
    width: 100%;
    height: 8vh;
    background-color: black;
    position: fixed;
    top: 0px;
    z-index: 3;
}
.navbar{
    width: 90%;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    padding: -20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.logo{
    width: 200px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: sticky;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 2px;
    width: 0;
    background: #ffffff;
    position: absolute;
    left: 0;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 75%;
}
.body1 {
    height: 140vh;
    background: rgba(0, 0, 0, 0);
    margin-top: -30px;
  }
  .body2 {
    height: 210vh;
    background: rgba(255, 0, 0, 0.4);
    margin-top: -200px;
    margin-bottom: -1200px;
  }
  .body3{
    height: 10vh;
    background: rgb(0, 0, 0);
    margin-top: -80px;
  }
  .body4{
    height: 2vh;
    background: rgb(0, 0, 0);
    margin-top: -10px;
  }
  .text-box{
    color: #fff;
    position: absolute;
    bottom: 8%;
    margin: auto;
    bottom: 240px;
    padding: 10px;
    line-height: 50%;
    margin-left: 40px;
}
.text-box p{
    font-size: 30px;
    font-weight: 600;
}
.text-box h1{
    font-size: 80px;
    line-height: 160px;
}
.text-box h3{
    font-size: 20px;
    font-weight: 600;
}
.text-box1{
    color: #fff;
    position: relative;
    bottom: 8%;
    margin: auto;
    bottom: -130px;
    left: 800px;
    padding: 10px;
}
.text-box1 p{
    font-size: 30px;
    font-weight: 600;
    margin-left: -650px;
    margin-bottom: 450px;
}
.text-box1 h5{
    font-size: 20px;
    font-weight: normal;
    margin-left: -690px;
    text-align: justify;
    text-justify: inter-word;
}
.pic-body1 {
    position: absolute;
    bottom: -650px;
    margin-left: 60px;
}
.body1-pic {
    position: absolute;
    bottom: 20px;
    margin-left: 920px;
}
.text-box1-link{
    color: #fff;
    position: relative;
    text-decoration: none;
    display: flex;
    margin: auto;
    bottom: 600px;
    padding: 10px;
    left: 950px;

}
.text-box1-link a{
    text-decoration: none;
    display: flex;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}
.text-box1-right{
    color: #fff;
    position: relative;
    bottom: 8%;
    margin: auto;
    bottom: 235px;
    left: 750px;
    padding: 10px;
}
.text-box1-right p{
    font-size: 30px;
    font-weight: 600;
    margin-left: 160px;
    margin-bottom: 450px;
}
.text-box1-right h5{
    font-size: 20px;
    font-weight: normal;
    margin-left: 0px;
    text-align: justify;
    text-justify: inter-word;
}
.body2-pic1{
    position: absolute;
    bottom: -650px;
    margin-left: 150px;
}
.body2-pic2{
    position: absolute;
    bottom: -550px;
    margin-left: 730px;
}
.body2-pic3{
    position: absolute;
    bottom: -1350px;
    margin-left: 475px;
}
.text-box1-bottom{
    color: #fff;
    position: relative;
    bottom: 8%;
    margin: auto;
    bottom: 150px;
    left: 300px;
    padding: 10px;
}
.text-box1-bottom p{
    font-size: 30px;
    font-weight: 600;
    margin-left: 160px;
    margin-bottom: 450px;
}
.text-box1-bottom h5{
    font-size: 20px;
    font-weight: normal;
    margin-left: 140px;
    text-align: justify;
    text-justify: inter-word;
}
.text-box-left-link{
    color: #fff;
    position: relative;
    text-decoration: none;
    display: flex;
    bottom: 8%;
    margin: auto;
    bottom: -150px;
    padding: 10px;
    left: 280px;
}
.text-box-left-link a{
    text-decoration: none;
    display: flex;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}
.text-box-right-link{
    color: #fff;
    position: relative;
    text-decoration: none;
    display: flex;
    bottom: 8%;
    margin: auto;
    bottom: -85px;
    padding: 10px;
    left: 930px;
}
.text-box-right-link a{
    text-decoration: none;
    display: flex;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}
.text-box-bottom-link{
    color: #fff;
    position: relative;
    text-decoration: none;
    display: flex;
    bottom: 8%;
    margin: auto;
    bottom: -730px;
    padding: 10px;
    left: 640px;
}
.text-box-bottom-link a{
    text-decoration: none;
    display: flex;
    color: #fff;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
}
.navbar1{
    width: 90%;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
    padding: -20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
.navbar1 h4{
    list-style: none;
    display: inline-block;
    position: relative;
    color: white;
    bottom: -28px;
    font-size: 25px;
}
.navbar1 h5{
    list-style: none;
    display: inline-block;
    position: relative;
    color: white;
    bottom: -28px;
    font-size: 15px;
}